*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  border:0px;
}
body{
  color: rgb(237, 227, 227);
  background-color: #000000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a,h1{
  color: rgb(237, 227, 227);
  text-decoration: none;
}
ul{
  list-style: none;
}
.btnn{
  background-color: rgb(213, 89, 89);
  padding:10px 40px;
  width:10vh;
  font-size: 15px;
  text-transform: uppercase;
  color:rgb(255, 255, 255);
  border:0.5px solid rgb(36, 33, 33);
  font-weight: 500;
  border-radius: 3px;margin:2px;
}
.btnn:hover{
  background-color:transparent;
  border:solid white 1px;
  color:rgb(210, 123, 123);
  box-shadow: 20px rgb(210, 123, 123);
  transition: 0.3s;
}
.gmail{
  position:relative;
  top:-20vh;
}
.bgimg{
  filter: blur(3px);
  
}